
@media only screen and (min-width:320px) {
}

@media only screen and (min-width:480px) {
}

@media only screen and (min-width:768px) {
    body {
        padding-top: 110px
    }

    .navbar {
        min-height: 60px
    }

    .navbar-brand {
        height: 60px
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .navbar-btn {
        margin-top: 11px;
        margin-bottom: 11px
    }

    .navbar-toggle {
        margin-top: 13px;
        margin-bottom: 13px
    }

    .input-group-addon {
        width: 1% !important
    }
}

@media only screen and (min-width:992px) {
}

@media only screen and (min-width:1200px) {
}

@media only screen and (max-width:1200px) {
}

@media only screen and (max-width:992px) {
}

@media only screen and (max-width:768px) {
}

@media only screen and (max-width:767px) {
    .search-dropdown-menu {
        min-width: 296px !important
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        padding-top: 9px;
        padding-bottom: 9px
    }

    .navbar-inverse .navbar-nav > li {
        border-bottom: 1px solid rgba(255,255,255,.05)
    }
}

@media only screen and (max-width:480px) {
}

@media only screen and (max-width:320px) {
}

@media(-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi) {
    .badge {
        line-height: 18px
    }

    .top-menu ul li .badge {
        margin-top: 2px
    }

    .label-private {
        padding: 0 3px
    }

    .hd-text-icon {
        padding: 0 3px
    }
}
