

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .col-sm-6.col-md-4.col-lg-4 > .well.well-sm, .col-sm-4.col-md-3.col-lg-3 > .well.well-sm, .col-sm-6.col-md-3.col-lg-3 > .well.well-sm {
        min-height: 192px;
    }
}

@media screen and (min-width: 991px) {
    .col-sm-6.col-md-4.col-lg-4 > .well.well-sm, .col-sm-4.col-md-3.col-lg-3 > .well.well-sm, .col-sm-6.col-md-3.col-lg-3 > .well.well-sm {
        min-height: 194px;
    }
}

@media screen and (min-width: 1200px) {
    .col-sm-6.col-md-4.col-lg-4 > .well.well-sm, .col-sm-4.col-md-3.col-lg-3 > .well.well-sm, .col-sm-6.col-md-3.col-lg-3 > .well.well-sm {
        min-height: 218px;
    }
}

.popover.bottom > .arrow:after {
    border-bottom-color: white;
}

.popover {
    background-color: white;
}

.popover-content {
    padding: 4px 4px 0px 4px;
}

h1.hidden-xs.big-title-truncate.m-t-0 > a {
    white-space: nowrap;
}

.modal-open .modal {
    z-index: 99999999;
}
